# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# yasuda add
binutils-2.19.1/
gcc-3.4.6/
osbook_03/
archive/
GPATH
GRTAGS
GSYMS
GTAGS
tags
